@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body {
    font-family: 'Gentium Basic', 'Alef Hebrew', serif;
}

.pure-table caption {
    font: inherit;
	font-style: italic;
}

.pure-button {
	background-color: #eee;
	border-radius: 1em;
}

.pure-menu-link:hover {
	background-color: #ddd;
	border-radius: 1em;
}

.directlink {
	display: none;
}

a {
	color: inherit;
    text-decoration: none;
	font-weight: bold;
}

.lowkeylink {
	font-weight: normal;
}

.content {
	margin: auto;
	padding: 2ex;
	max-width: 800px;
	margin-bottom: 50px;
	line-height: 1.5;
}

@font-face{
	font-family: SakeozosAslFont;
	src: local("SakeozosAslFont"), url(fonts/SakeozosAslFont-Regular.a7a676d6192c6b6e5833.ttf) format("truetype")
}

h1 {
	text-align: center;
	margin-bottom: 2em;
	/* border-bottom: 1px solid #d3d6da; */
	/* padding-bottom: 0.5em; */
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	left: 0;
	right: 0;
	pointer-events: none;
}

.title {
	letter-spacing: 0.2rem;
}

h2 {
	font-size: 1rem;
	margin-top: 3em;
	text-align: center;
}

.tile {
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    width: 1.75em;
    height: 1.75em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: white;
	background-color: #6aaa64;
    text-transform: uppercase;
    user-select: none;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

h1 .tile {
	font-size: 2rem;
}

/*
 ┌───────┐
 │ Table │
 └───────┘
*/

table {
	margin-top: 3em;
}

.participate, .contact {
	margin-top: unset;
}

td {
	vertical-align: top;
}

table thead {
  position: sticky;
  top: 0;
}

.pure-table td {
	border: 0px;
}

.pure-table {
	border: 0px;
}

.participate td, .contact td {
	border-left: 0px;
	padding-left: 0px;
}

.participate thead, .contact thead {
	background: unset;
}

.mltable td:nth-child(2) {
	border-left: 0px;
}

/* name */
.mltable td:nth-child(3), .domaintable td:nth-child(2), .twisttable td:nth-child(2) {
	font-weight: bold;
}

/* code */
.mltable td:nth-child(4), .domaintable td:nth-child(3), .twisttable td:nth-child(3), .reimplementationtable td:nth-child(2), .nonlinguistictable td:nth-child(2), .misctable td:nth-child(2), .nonwordlytable td:nth-child(2){
	text-align: center;
}

/* emoji */
.participate td:nth-child(1), .domaintable td:nth-child(4), .twisttable td:nth-child(4), .nonlinguistictable td:nth-child(3), .misctable td:nth-child(3), .nonwordlytable td:nth-child(3) {
	text-align: center;
}

/* note */
.domaintable td:nth-child(5), .twisttable td:nth-child(5), .nonlinguistictable td:nth-child(4), .misctable td:nth-child(4) {
	width: 100%;
}

/* media */
.mltable td:nth-child(6), .domaintable td:nth-child(6), .misctable td:nth-child(5), .twisttable td:nth-child(6), .nonlinguistictable td:nth-child(5) {
	text-align: center;
}



/*
 ┌─────────────────┐
 │ Icons and emoji │
 └─────────────────┘
*/

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

img.icon {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}



/*
 ┌───────────┐
 │ Languages │
 └───────────┘
*/

.hebrew, .yiddish, .ladino {
    font-family: 'Alef Hebrew', serif;
	direction: rtl;
	text-align: right;
}

.farsi, .arabic, .pashto {
	direction: rtl;
	text-align: right;
}

.urdu {
	font-family: 'Jameel Noori Nastaleeq', 'Urdu Typesetting', 'Noto Nastaliq Urdu', 'Noto Nastaliq Urdu Draft', 'Hussaini Nastaleeq', 'AlQalam Taj Nastaleeq', IranNastaliq, 'Awami Nastaliq', 'Awami Nastaliq Beta3', 'Awami Nastaliq Beta2', 'Awami Nastaliq Beta1', 'Nafees Nastaleeq', 'Nafees Nastaleeq v1.01', 'Pak Nastaleeq', 'PDMS_Jauhar', 'Alvi Lahori Nastaleeq';
	direction: rtl;
	text-align: right;
}

.asl {
	font-family: SakeozosAslFont;
}

@font-face{
	font-family: pIqaD;
	src: url("fonts/pIqaD.woff") format("woff"); /* pIqaD.worff… 😄 */
}
.klingon {
	font-family: pIqaD;
}

@font-face {
	font-family: Gulmarg;
	src: url("fonts/Gulmarg.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
.kashmiri {
	font-family: Gulmarg, Nastaleeq, 'Jameel Noori Nastaleeq', 'Urdu Typesetting', 'Noto Nastaliq Urdu', 'Noto Nastaliq Urdu Draft', 'Hussaini Nastaleeq', 'AlQalam Taj Nastaleeq', IranNastaliq, 'Awami Nastaliq', 'Awami Nastaliq Beta3', 'Awami Nastaliq Beta2', 'Awami Nastaliq Beta1', 'Nafees Nastaleeq', 'Nafees Nastaleeq v1.01', 'Pak Nastaleeq', 'PDMS_Jauhar', 'Alvi Lahori Nastaleeq';
	direction: rtl;
}

.mirrored {
	transform: scaleX(-1);
	text-align: right;
}
